<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h4 class="text-danger">All Categories</h4>
       <table class="table table-striped">
           <tr  *ngFor="let category of categories">
               <td>{{category.id}}</td>
               <td>{{category.Name}}</td>
               <td>{{category.Description}}</td>
               <td><a routerLink="/updateCategory/{{category.id}}" class="btn btn-primary">Edit</a></td>
               <td><a routerLink="/deleteCategory/{{category.id}}" class="btn btn-danger">Delete</a></td>
           </tr>
       </table>
    </div>
    </div>
    <!-- <ul class="data-list">
        <li *ngFor="let category of categories" class="list-item">
            <a href="#">{{category.categoryName}}</a>
        </li>
    </ul> -->
    
